body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff; /* Light blue background color */
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9c9999;
    
}
.text-content {
    flex: 1;
    padding: 20px;  
}
.text-content h1 {
    font-size: 40px;
    color: #972A41;
    text-align: center;
}
.image-content {
    flex: 1;
    padding: 20px;
}
.image-content img {
    max-width: 65%; 
    height: auto;
    display: block;
    margin: 0 auto;
}
.about-us .row,
.our-vision .row {
    margin-bottom: 20px; 
}
.our-vision .image-content {
    margin-right: 20px; 
}
.our-vision .text-content {
    margin-left: 20px; 
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.center {
    text-align: center;
    margin-bottom: 30px;
    color: #972A41;
    font-size: 100px;
}
.our-goals .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.goal {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    
}
.goal i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #972A41; /* Adjust the color as needed */
}
.goal h3 {
    margin-top: 10px;
    font-size: 25px;
    
}
.goal p {
    font-size: 16px;
    color: #9c9999;
    
}
/* {
.flex-container
    margin: 0;
    padding: 0;
    font-family:
} */